*.java    linguist-language=Java
*.ts      linguist-language=TypeScript
*.R       linguist-language=R
*.cpp     linguist-language=C++
*.py      linguist-language=Python
*.html    linguist-language=HTML
